<div fxFill id="id_bottom_main" class="bg-bottom-img-container" fxLayout.sm="column" fxLayout.md="column">
  <div fxFlex="50" fxLayout="row " fxLayout.sm="column" fxLayout.md="column" [fxFlex.sm]="thousand" fxLayoutGap="20px" fxLayoutAlign="center center">
    <div fxFlex="50" fxFlex.sm="100" fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="20px">
      <div>
        <mat-card fxLayout="column" fxLayoutAlign="space-evenly">
          <div><img fxLayoutAlign="start start" src="../assets/GetPaidInstantly.svg" /></div>
          <div>Quick cash disbursement</div>
          <label>Get terms loans that your business needs within 72 hrs</label>
        </mat-card>
      </div>
      <div>
        <mat-card fxLayout="column" fxLayoutAlign="space-evenly">
          <div><img fxLayoutAlign="start start" src="../assets/Lowinterestrate.svg" /></div>
          <div>Low-interest rate</div>
          <label>Achieve your financial goals with an amazing interest rate starting at 13% per annum</label>
        </mat-card>
      </div>
      <div>
        <mat-card fxLayout="column" fxLayoutAlign="space-evenly">
          <div><img fxLayoutAlign="start start" src="../assets/SecurePayments.svg" /></div>
          <div>Zero Paperwork</div>
          <label>Get started instantly by submitting only your basic details & bank statements</label>
        </mat-card>
      </div>
    </div>

    <div fxFlex="50" fxFlex.sm="100" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
      <div>
        <mat-card fxLayout="column" fxLayoutAlign="space-evenly" class="purple-card">
          <div><img fxLayoutAlign="start start" src="../assets/freelancer_feature_icon_6@1.5x.svg" /></div>
          <div>Ace your business finances</div>
          <label>Manage banking, accounting & everything in between, on one platform</label>
        </mat-card>
      </div>
      <div>
        <mat-card fxLayout="column" fxLayoutAlign="space-evenly">
          <div><img fxLayoutAlign="start start" src="../assets/Covid.svg" /></div>
          <div>Loans to fight COVID-19</div>
          <label>Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh</label>
        </mat-card>
      </div>
    </div>
  </div>

  <div fxFlex="50" fxLayout="row" fxLayout.sm="column" fxLayout.md="column" [fxFlex.sm]="thousand" fxLayoutAlign="center center">
    <div fxLayout="column" fxFlex="90" fxFill fxLayoutGap="10px" fxLayoutAlign="center center">
      <div fxFlex="80" fxFill fxLayout="column">
        <div fxFlex="50" fxLayoutAlign="center center" fxLayout="row">
          <div fxFlex="60" fxFill fxLayout="column" fxLayoutAlign="center start">
            <div fxFlex="80" fxLayoutAlign="end" fxLayout="column">
              <div fxFlex="50" class="txt-super-simple">Boost your business<br />with Open</div>
              <div class="rounded-line"></div>
            </div>
          </div>
        </div>
        <div fxFlex="50" fxLayoutAlign="center" fxLayout="row">
          <div fxFlex="60" fxFill fxLayout="column" fxLayoutAlign="start">
            <div fxFlex="30" fxLayoutAlign="start" fxLayout="column">
              <label fxFlex="50">Get your hands on a term loan that’s crafted for your business</label>
            </div>
            <div fxFlex="70" fxLayoutAlign="start" fxLayout="column">
              <div fxFlex="40">
                <div fxLayoutAlign="center center" class="round-btn btn">Get an Open Account</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
