<div fxFill id="id_home_main" fxLayout="row" fxLayout.sm="column" fxLayout.md="column">
  <div fxFlex="50" fxFlex.sm="100" fxLayout="row" fxLayout.sm="column" fxLayout.md="column" fxFill fxLayoutAlign="center center">
    <div fxLayout="column" fxFill fxLayoutGap="10px">
      <div fxFlex="30" fxLayoutAlign="center center" fxLayout="row" fxLayout.sm="column" fxLayout.md="column" fxFlex.sm="100">
        <div fxFlex="60" fxFlex.sm="100" fxLayout.sm="row" fxFill fxLayout="column" fxLayoutAlign="center start">
          <div fxFill fxFlex.sm="80" fxLayoutAlign="center center " fxLayout="column">
            <div fxFlex="50" fxFill class="txt-super-simple">We make it Super <br />Simple</div>
            <div fxFlex="10" fxFill>
              <div class="rounded-line"></div>
            </div>
          </div>
        </div>
      </div>
      <div fxFlex="60" fxLayout="column">
        <div fxFlex="80" fxLayout="row" fxLayout.sm="column" fxLayout.md="column" fxLayoutAlign="center center">
          <div fxFlex="60" fxLayoutAlign="center center"><img class="collect_img-video" src="../assets/collect_img-video.png" /></div>
        </div>

        <div fxFlex="20" fxLayoutAlign="end center"><img class="dotted-img" src="../assets/dots.png" /></div>
      </div>
    </div>
  </div>

  <div fxFlex="50" fxFlex.sm="100" fxLayout="column" fxFill fxLayoutAlign="center center">
    <div fxFlex="80" fxLayout="row" fxFill fxLayout.sm="column" fxLayout.md="column" fxFlex.sm="100" fxLayoutAlign="center">
      <div fxFlex="90" fxLayout.sm="column" fxLayout.md="column" fxLayoutGap="10px" fxLayoutAlign="end center ">
        <div fxFlex="55" fxLayoutAlign="start" fxFlex.sm="100">
          <mat-card class="card-calculator" fxLayoutAlign="start" fxLayout="column">
            <div fxFlex="10" class="calc-heading" fxLayoutAlign="center" fxLayout="column">
              <div fxFill fxLayoutAlign="center center" class="calc-heading-text">Eligibility Calculator</div>
            </div>
            <div class="card-calc-main calc-heading-text" fxFlex="80" fxLayoutAlign="space-evenly" fxLayout="column" fxLayoutGap="30px">
              <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="10px">
                <label>Monthly Income</label>
                <div>₹ {{ matslider.value | number }}</div>
                <mat-slider fxLayoutAlign="start" #matslider min="100000" max="300000" [(ngModel)]="this.objCalc.income"></mat-slider>
                <div fxLayout="row" class="range-text">
                  <div fxFlex="50" fxLayoutAlign="start">₹ {{ 1000000 | number }}</div>
                  <div fxFlex="50" fxLayoutAlign="end">₹ {{ 3000000 | number }}</div>
                </div>
              </div>
              <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="10px">
                <label>Monthly Expense</label>
                <div>₹ {{ matslider2.value | number }}</div>
                <mat-slider fxLayoutAlign="start" #matslider2 min="0" [max]="matslider.value" value="0" [(ngModel)]="this.objCalc.expense"></mat-slider>
              </div>
              <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="10px">
                <label fxFlex="50">Repayment Tenure</label>
                <mat-select [(ngModel)]="objCalc.tenure">
                  <mat-option *ngFor="let par of arrTenure; let j = index" [value]="par"> {{ par }} Months </mat-option>
                </mat-select>
              </div>
              <div fxLayout="row" fxLayoutAlign="start">
                <label fxFlex="80">Do you have any existing loans?</label>
                <mat-slide-toggle [(ngModel)]="this.objCalc.loan"> </mat-slide-toggle>
              </div>

              <div fxLayout="column" fxLayoutAlign="start">
                <label fxFlex="50">EMI of existing loan (optional)</label>
                <div fxFlex="50" [ngClass]="this.objCalc.loan ? '' : 'disable'">
                  <span>₹ </span>
                  <input type="number" [(ngModel)]="this.objCalc.emi" />
                </div>
              </div>
            </div>
          </mat-card>
        </div>
        <div fxFlex="30" fxFlex.sm="100" fxLayoutAlign="start center" class="card-amount-main">
          <mat-card class="card-amount" fxLayoutAlign="center center" fxLayout="column">
            <div fxFlex="20">
              <label>Loan Amount</label>
              <div class="amount">₹ {{ loanAmount() | number }}</div>
            </div>

            <div fxFlex="20">
              <label>Your EMI will be</label>
              <div class="amount">₹ {{ emiAmount | number }}</div>
            </div>

            <div fxFlex="20">
              <div fxLayoutAlign="center center" class="round-btn btn-get-money">GET MONEY</div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
    <div fxFlex="10" fxFill fxLayoutAlign="end center"><img class="dotted-img" src="../assets/dots.png" /></div>
  </div>
</div>
