@import '../styles.scss';

.background-image-container {
  background-image: url(../assets/circle.svg);
  background-repeat: no-repeat;
}
.txt-super-simple {
  font-size: $font-xx-large;
  min-height: 100px;
}

.rounded-line {
  border: 6px solid #707070;
  border-radius: 20px;
  width: 40%;
}

/* Navigation Bar Styling*/
#id_nav_main {
  // height: 150px;
  .btn-get-started {
    color: $color-white;
    border: none;
    background: transparent linear-gradient(90deg, #9f62c9 0%, #663399 100%) 0% 0% no-repeat padding-box;
  }
  .collapse {
    display: none;
  }
  @media (min-width: 768px) {
    .navbar-collapse {
      width: auto;
      border-top: 0;
      box-shadow: none;
    }
    .navbar-collapse.collapse {
      display: block !important;
      height: auto !important;
      padding-bottom: 0;
      overflow: visible !important;
    }
    .navbar-collapse.in {
      overflow-y: visible;
    }
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
  }
  .navbar-default .navbar-toggle {
    border-color: #ddd;
  }
  .sr-only {
    clip: rect(0, 0, 0, 0);
  }
  .navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 23px;
    margin-bottom: 23px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
  }
  .navbar-toggle:focus {
    outline: 0;
  }
  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
  }
  @media (min-width: 768px) {
    .navbar-toggle {
      display: none;
    }
  }
}
/* Home Page Styling*/
#id_home_main {
  background-image: url(../assets/blob-small.svg);
  background-repeat: no-repeat;

  .collect_img-video {
    width: 652px;
    height: 365px;
  }
  .dotted-img {
    // margin-left: 50%;
    margin-top: -20%;
  }

  .card-calculator {
    height: 675px;
    width: 688px;
    .card-calc-main {
      padding: 20px;
    }
    .calc-heading {
      background-color: $color-white-dull;
      font-size: $font-large;
      border-radius: 0px 15px 0 0px;
      margin-left: 10px;
    }
    label {
      font-size: $font-small;
    }
    .range-text {
      font-size: $font-x-small;
      color: $color-grey-font;
    }
  }
  .card-amount {
    // height: 400px;
    // width: 100%;
    height: 430px;
    width: 250px;
    background-repeat: no-repeat;
    background: $color-primary;
    color: $color-white;
    font-size: 15px;
    label {
      // font-weight: 100;
      color: $color-white-dull;
    }
    .amount {
      font-size: $font-x-large;
    }
  }

  .btn-get-money {
    // @extend .btn-get-started;
    color: $color-purple-dull;
    background-color: $color-white;
    font-size: $font-x-small;
    // width: 100px;
    cursor: pointer;
  }
  .card-amount-main mat-card {
    border-radius: 0 20px 20px 0;
  }

  @media (max-width: 768px) {
    .collect_img-video {
      width: 80%;
      height: 80%;
    }
    .dotted-img {
      margin: 0;
    }
  }
  /* Dropdown Styling */
  .dropdown {
    position: relative;
    cursor: pointer;
  }
  .dropdown::after {
    content: '';
    width: 100%;
    height: 1px;
    background: #cdd9e1;
    /* bottom: -25px; */
    position: absolute;
  }
  .dropdown-content {
    position: absolute;
    top: 26px;
    left: 0px;
    width: 99%;
    background-color: white;
    border-left: 1px solid #cdd9e1;
    border-right: 1px solid #cdd9e1;
    z-index: 2;
    max-height: 180px;
    overflow-y: auto;
  }
  .each-element {
    border-color: #cdd9e1;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    padding: 5px;
  }

  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 16px;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    // left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: $color-primary;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $color-primary;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    //width: 40px;
    height: 20px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
}

/* Bottom Image Styling*/

.bg-bottom-img-container {
  background-image: url(../assets/sol_wave_bg.svg);
  background-repeat: no-repeat;
}

#id_bottom_main {
  font-size: $font-small;
  label {
    color: $color-grey-font;
  }
  .btn {
    width: 198px;
    background-color: #f5f7ff;
  }
  mat-card {
    width: 391px;
    height: 253px;
    padding: 20px;
    background: $color-white-dull;
    box-shadow: 0px 0px 30px #2321321f;
    border: 1px solid #ffffff;
    border-radius: 20px;
  }
  .purple-card {
    background: #c4a5da;
    color: white;
    label {
      color: $color-white-dull;
    }
  }
}

@media (max-width: 768px) {
  #id_home_main {
    height: auto !important;
    min-height: auto !important;
  }
  .card-calculator {
    width: 450px !important;
    // height: 330px !important;
  }
  .card-amount {
    width: 450px !important;
    height: 330px !important;
  }
}
