/*fonts*/
$font-x-small: 12px;
$font-small: 15px;
$font-medium: 16px;
$font-large: 18px;
$font-x-large: 25px;
$font-xx-large: 40px;

/*colors*/
$color-white: #ffffff;
$color-white-dull: #f9f9f9;
$color-primary: #663399;
$color-purple-dull: #9f62c9;
$color-black: #000000;
$color-black-dull: #222222;
$color-grey: #00000033;
$color-grey-line: #707070;
$color-grey-font: #999999;
$color-box-shadow: #2321321f;

$border-bottom: 1px solid $color-grey-font;
