<div id="id_nav_main">
  <nav fxFill id="navbar" fxLayoutAlign="start center" class="navbar-default">
    <div fxFill fxLayoutAlign="start center" fxLayout="row" fxLayout.sm="column" fxLayout.md="column">
      <div fxFlex="50" fxFlex.sm="100" fxFill fxLayoutAlign="start center">
        <img fxFlex="40" src="./assets/logo.svg" />
        <div fxFlex="60">
          <button type="button" id="menubtn" class="navbar-toggle " aria-expanded="false">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      </div>
      <div fxFlex="50" class="collapse navbar-collapse" id="navbar-collapse">
        <ul fxLayout="row" fxLayout.sm="column" fxLayout.md="column" fxFlexAlign="start center" fxLayoutGap="20px">
          <li fxFlex="15" fxLayoutAlign="center center">Products</li>
          <li fxFlex="15" fxLayoutAlign="center center">Solutions</li>
          <li fxFlex="15" fxLayoutAlign="center center">Pricing</li>
          <li fxFlex="15" fxLayoutAlign="center center" class="round-btn">
            Login
          </li>
          <li fxLayoutAlign="center center" class="round-btn btn-get-started">
            Get Started
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
